[Unit]
Description=RepostBot on the GO
After=network.target

[Service]
ExecStart=/usr/local/bin/repostbot
WorkingDirectory=/home/%USER%/repostbot
Restart=always
Environment="CONFIG_PATH=/home/%USER%/repostbot/config.json"
User=%USER%

[Install]
WantedBy=multi-user.target