[Unit]
Description=RepostBot on the GO
After=network.target

[Service]
ExecStart=/usr/local/bin/repostbot
WorkingDirectory={{WORKDIR}}
Restart=always
EnvironmentFile=/etc/default/repostbot.env
User=runner

[Install]
WantedBy=multi-user.target