name: Deploy VK Telegram Repost Bot

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted  # Использовать self-hosted runner
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build the bot
        run: |
          go build -o repostbot main.go

      - name: Generate .env file
        run: |
          echo "TG_TOKEN=${{ secrets.TG_TOKEN }}" > deploy/repostbot.env
          echo "VK_TOKEN=${{ secrets.VK_TOKEN }}" >> deploy/repostbot.env
          echo "TARGET_USER=${{ secrets.TARGET_USER }}" >> deploy/repostbot.env
          echo "CACHE_FILE=${{ secrets.CACHE_FILE }}" >> deploy/repostbot.env
          echo "POLL_INTERVAL=${{ secrets.POLL_INTERVAL }}" >> deploy/repostbot.env
          echo "CHAT_ID=${{ secrets.CHAT_ID }}" >> deploy/repostbot.env

      - name: Deploy to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "repostbot,deploy/repostbot.env"
          target: "${{ secrets.WORKDIR }}"

      - name: Configure systemd
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo systemctl stop repostbot.service || true
            sudo systemctl stop repostbot.timer || true
            sudo cp ${{ secrets.WORKDIR }}/repostbot /usr/local/bin/repostbot
            sudo cp ${{ secrets.WORKDIR }}/repostbot.env /etc/default/repostbot.env
            sudo systemctl daemon-reload
            sudo systemctl enable repostbot.service
            sudo systemctl enable repostbot.timer
            sudo systemctl start repostbot.timer